<div class="flex justify-center mt-14">
  <div class="card dark:bg-black bg-white w-120 items-center shadow-sm">
    <div class="mt-8 w-80 h-80 overflow-hidden rounded-xl">
      <%= image_tag @user.avatar_url, class: "w-80 h-80 object-cover" %>
    </div>
    <div class="card-body items-center text-center gap-5">
      <p class="font-semibold text-2xl"><%= current_user.name %></p>
      <p class="font-semibold text-xl"><%= current_user.email %></p>
    </div>
    <div class="card-actions mb-8 mt-3">
      <button id="profile-edit-button" class="btn btn-primary">
        <%= link_to '編集', edit_profile_path %>
      </button>
    </div>
  </div>
</div>