<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <%= image_tag "logo.png", class: "h-30 w-auto"%>
    <p>Copyright © 2025 BBX Hub - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to "プライバシーポリシー", "" %>
    <%= link_to "利用規約", "" %>
  </nav>
</footer>