<h1 class="text-3xl font-bold underline">
    Beatboxers index
</h1>

<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn">daisyUI</button>
<button class="btn btn-neutral">Neutral</button>
<button class="btn btn-active btn-secondary">Secondary</button>
<button class="btn btn-square">
  <span class="loading loading-spinner"></span>
</button>

<button class="btn">
  <span class="loading loading-spinner"></span>
  loading
</button>

<br><br>

<%= link_to "ユーザー登録ボタン", new_user_path, class: "btn btn-neutral"%>
<%= link_to "新規投稿", new_beatboxer_path, class: "btn btn-neutral"%>
<%= link_to "ブックマークボタン", bookmarks_path, class: "btn btn-active btn-secondary" %>