<div class="absolute top-0 right-0 mt-1 ml-2" id="unbookmark-button-<%= post.id %>">
    <%= link_to image_tag("unbookmark_icon.png", class: "w-5 h-auto"), post_bookmarks_path(post.id), data: { turbo_method: :post } %>
</div>