<div class="absolute top-0 right-0 mt-1 ml-2" id="bookmark-button-<%= post.id %>">
    <%= link_to image_tag("bookmark_icon.png", class: "w-5 h-auto"), bookmark_path(current_user.bookmarks.find_by(post_id: post.id)), data: { turbo_method: :delete } %>
</div>