<div class="font-bold text-white flex w-52 flex-col gap-4">
  <div class="skeleton h-32 w-full"><%= post.youtube_video %></div>
  <div class="skeleton h-4 w-28"><%= post.title %></div>
  <div class="skeleton h-4 w-full"><%= post.body %></div>
  <div class="skeleton h-4 w-full"></div>
</div>