<div class="card w-96 space-x-4 bg-base-100 shadow-sm">
  <div class="text-black card-body">
    <span class="badge badge-xs badge-warning">Most Popular</span><!--ラベル-->
    <div>
        <% if post.youtube_video.present? %>
            <iframe class="skeleton h-50 w-full"  src="https://www.youtube.com/embed/<%= find_youtube_url(post.youtube_video) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div class="flex mt-3">
        <div>
            <p class="h-15 text-3xl">🎙️</p>
        </div>
        <div class="line-clamp-2">
            <h2 class="h-15 text-xl font-bold" style="overflow-wrap: break-word;">
                <%= post.title %>
            </h2>
        </div>
    </div>
    <div class="opacity-50 gap-2 line-clamp-6">
        <p class="h-30 w-full text-sm" style="overflow-wrap: break-word;"><%= post.body %></p>
    </div>
    <div class="mt-6">
      <%= link_to "プライバシーポリシー", post_path(post), class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
