<div class="card w-96 space-x-4 bg-base-100 shadow-sm">
  <div class="text-black card-body">
    <span class="badge badge-xs badge-warning">Most Popular</span><!--сЃЕсЃЎсЃФ-->
    <div>
        <% if post.youtube_video.present? %>
            <iframe class="skeleton h-50 w-full"  src="https://www.youtube.com/embed/<%= find_youtube_url(post.youtube_video) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div class="flex mt-3">
        <div class="h-20">
            <p class="text-3xl">­ЪјЎ№ИЈ</p>
        </div>
        <div class="h-20">
            <h2 class="text-3xl font-bold">
                <%= post.title %>
            </h2>
        </div>
    </div>
    <div class="opacity-50 mt-3 gap-2 ">
        <p class="border border-red-100 h-30 w-full truncate text-sm" style="overflow-wrap: break-word;"><%= post.body %></p>
    </div>
    <div class="mt-6">
      <button class="btn btn-primary btn-block">ТіЋуе┐сѓњУдІсѓІ</button>
    </div>
  </div>
</div>
