<div class="absolute top-0 right-0 mt-1 ml-2" id="unbookmark-button-<%= post.id %>">
    <%= link_to image_tag("bookmark_icon.png", class: "w-5 h-auto"), bookmarks_path(post_id: post.id), method: :post, data: { turbo_method: :post } %>
</div>