<div class="mt-8 mb-8 gap-8 flex flex-wrap items-center justify-center self-start min-h-screen">
    <% if @posts.present? %>
        <%= render @posts %>
    <% else %>
        <div class='text-lg text-center'>投稿がありません</div>
    <% end %>

    <%= paginate @posts %>
</div>

<div class="join">
  <input
    class="join-item btn btn-square"
    type="radio"
    name="options"
    aria-label="1"
    checked="checked" />
  <input class="join-item btn btn-square" type="radio" name="options" aria-label="2" />
  <input class="join-item btn btn-square" type="radio" name="options" aria-label="3" />
  <input class="join-item btn btn-square" type="radio" name="options" aria-label="4" />
</div>