/*
 *= require_tree .
 *= require_self
 */

body{
    background-image: url(background_image.jpg);
    height: 800px;
    background-size:cover;
  }

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
